html {
    box-sizing:border-box;
    scroll-behavior: smooth;

}

*, *:before *:after{

    box-sizing:inherit;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* for the js to work */
.mafiagame {
    display: none;
  }

  #opening {
    display: block;
  }

  body{
    background-color: black;
  }

  /* Opening section */ 

  @keyframes fadeIn { /* the use of @keyFrames is for animation purposes*/ 
  from { /* how the animation will start off */ 
    opacity: 0;
    transform: translateY(-20px); /* makes it slide down a bit */
  }
  to { /* how the animation will end off */
    opacity: 1;
    transform: translateY(0);
  }
}

  #opening h1{
    color:white;
    font-size: 100px;
    text-align: center;
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-timing-function: ease-out; /* when animation starts out fast so it slows it down */
    margin-top: 30px;
  }

  #opening h2{
    color:white;
    font-size:80px;
    text-align: center;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-name: fadeIn;
    animation-timing-function: ease-out; 
    animation-fill-mode: both; /* this help to show the h2 after the h1 has been displayed */
    margin-top: 10px;
  }
  /**
  label.playername {
    font-size: 60px;
    color:red;
    display:block;
    text-align: center;
    animation-delay: 8s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    margin-top: 10px;
  }

  

  .username input[type="text"]{
    width:250px;
    height:50px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    animation-delay: 8s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    font-size: 35px;
   
  }

  **/

  .buttonopening{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;

  }

  .joinbutton, .createbutton{
    width:150px;
    height:50px;
    font-size: 25px;
     animation-delay: 8s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    margin-top:20px;
    
  }

 .joinbutton:hover, .createbutton:hover {
  background-color: red;
  color:white; 
 } 

 /* this will be the join page */

 #join h1{
   color:red;
    font-size: 40px;
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-timing-function: ease-out; 
    margin-top: 30px;
    text-align: center;
 }

 /*
 #publicbutton , #privatebutton  {

    width:150px;
    height:50px;
    font-size: 25px;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    margin-top:40px;

 }

#publicbutton:hover , #privatebutton:hover {
  background-color: red;
  color:white; 
  }
  */ 

  
.tabs-wrapper {
    position: relative; /* this will hold all the tabs*/
  }

.tab-buttons { /*style for buttons*/
    display: flex;
    border-bottom: 2px solid #ccc;
  }

  /* Hide radio inputs */
.tabs-wrapper input[type="radio"] {
    display: none; /* since we don't want them as radio buttons but as labels this will help hiding it */ 
  }

  /* Tab labels  style */
.tab-label {
    padding: 10px 20px;
    background: #eee;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    margin-right: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }

.tab-label:hover {
    background: #ddd;
  }



  /* Active tab style */
#tab1:checked ~ .tab-buttons label[for="tab1"], /* check is used to checking the elements we want, this only works on radio buttons */
#tab2:checked ~ .tab-buttons label[for="tab2"] {
    background: white;
    font-weight: bold;
    border-bottom: 1px solid white;
  }

  /* Tab content styles */
.tab-contents {
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    background: #f9f9f9;
  }

.tab-content {
    display: none;
  }

  /* Show the right content based on radio */
#tab1:checked ~ .tab-contents #public {
    display: block;
  }

#tab2:checked ~ .tab-contents #private {
    display: block;
  }


#private h2{
  color:red; 
  font-size: 25px;
}
.usercode-label {
  font-size:15px;
}

/* create page */

  #create h2{
    color:red;
    font-size: 60px;
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-timing-function: ease-out; 
    margin-top: 30px;
    text-align: center;
  }

  label.playername1 {
    font-size: 30px;
    color:red;
    display:block;
    text-align: center;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    margin-top: 10px;
  }

  .player input[type="text"]{
    width:250px;
    height:50px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    font-size: 35px;
   
  }

  
  #create h3{
    color:white;
    text-align: center;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-name: fadeIn;
    animation-timing-function: ease-out; 
    animation-fill-mode: both; 
    margin-top: 10px;
    font-size: 30px;
  }
/*
  #publicgame , #privategame {
    width:150px;
    height:50px;
    font-size: 25px;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    margin-top:40px;
    margin-left: 40px;
  }*/

  .checkbox input[type="radio"] {
  transform: scale(2.5);
   vertical-align: middle; 
   margin: 0;
   
}

.radiobuttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  margin-bottom:50px;
  
  
}

.checkbox {
  display: flex;
  align-items:center; 
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  gap: 20px;
}

label.checkbox{
  font-size: 30px;
    color:red;
    text-align: center;
   animation-delay: 5s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    
}


label.playername2{
  font-size: 30px;
    color:red;
    display:block;
    margin-left: 40px;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    margin-top: 10px;
}
.playamount {
  display: flex;
  align-items: center;
  gap: 15px; 
  margin-left: 40px; 
  animation-delay: 7s;
  animation-duration: 2s;
  animation-name: fadeIn;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

label.playername2 {
  font-size: 30px;
  color: red;
  animation-delay: 7s;
  animation-duration: 2s;
  animation-name: fadeIn;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  margin: 0; 
}

.playamount input[type="text"] {
  width: 70px;
  height: 25px;
  font-size: 17px;
  animation-delay: 7s;
  animation-duration: 2s;
  animation-name: fadeIn;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

#storyline h2{
    font-size: 50px;
    color:red;
    display:block;
    text-align: center;
    animation-delay: 10s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    margin-top: 10px;
}
.storylinegame{
  display: flex;
  align-items:center; 
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  gap: 20px;
  margin-left:30px;
  

}

.storylinegame input[type="radio"]{
   transform: scale(1.5);
   vertical-align: middle; 
   margin: 0;
}

.storygames{
  display: flex;
  gap: 50px;
  margin-top: 30px;
  margin-bottom:50px;
}

label.storylinegame{
  font-size: 30px;
    color:red;
    text-align: center;
    animation-delay: 10s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    margin-top: 10px;
}

#createButton{
  width:100px;
    height:25px;
    font-size: 15px;
     animation-delay: 12s;
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 20px;

}

/*lobby */ 

#lobby h2{
  color:white;
  font-size:60px;
  text-align: center;
  margin-top:40px;
}

#lobby h3{
 color:red;
  font-size:30px;
  text-align: center;
  margin-top:40px;
}

#lobby h4{
   color:white;
  font-size:25px;
  text-align: center;
  margin-top:40px;
}

#startGameBtn{
   width:150px;
    height:50px;
    font-size: 25px;
    
}

.gamebutton{
   display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#lobby input[type="text"] {
  width:250px;
  height:50px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 35px;
}

#lobby h5{
  color:red;
  text-align: center;
}